config MTK_MMPROFILE_SUPPORT
	bool "MMProfile function enable or disable"
	default y
	help
	  Multimedia profiling mechanism function support.
	  By enable this config, the actual implementation under mmp/src/
	  will be used.
	  Otherwise mmp/dummy/ is used to provide empty functions. In this
	  situation, the profiling mechanism will not work.

config MMPROFILE
	bool "MMProfile module enable or disable"
	default y
	help
	  Enable other module to use Multimedia profiling mechanism.
	  By enable this config, the mmp/ driver is built into kernel.
	  Otherwise other module will use empty functions in header file
	  instead. This is to make the profiling mechanism driver to be
	  a switchable module.
