menu "MTK load balance and schedule enhancement"

config MTK_IDLE_BALANCE_ENHANCEMENT
	bool "mtk load balance enhancement"
	depends on SMP && ENERGY_MODEL && CPU_FREQ_GOV_SCHEDUTIL
	help
	  Mediatek aggressive idle balance, include
	  1. for runnable tasks with idle prefer attributes
	  2. for runnable and running tasks with min_cap(dynamic floor)
	  3. migrate runnable task directly and
		use stop machine to migrate running task

config MTK_SCHED_INTEROP
	bool "mtk scheduling interopation enhancement"
	default n
	help
	   Original Linux Design, RT & CFS do load balance seperatedly,
	   and let would result in unload balance.
	   that is, one CPU has more than 2 tasks, however, one CPU is IDLE
	   We make RT & CFS to check each other and make load more balance.

config MTK_SCHED_LB_ENHANCEMENT
	bool "mtk enhancement for load balance"
	help
	   mtk enhancement for load balance
	   system overutilization,
	   intra-cluster load balance,
	   and so on.

config MTK_SCHED_TRACERS
	bool "mtk scheduling trace, output mtk schedule trace into FTRACE"
	help
	  Mediatek scheduling trace, output mtk schedule trace into FTRACE,
	  Mediatek enhancements to vanilla linux kernel. Export scheduling
	  trace in sched_switch events.
	  Say Y to enable mtk scheduling trace.If unsure, say N

endmenu

menu "MTK Heterogenous MultiProcessor Scheduler"
config MTK_SCHED_CPU_PREFER
	bool "mtk scheduling boost enhancement"
	depends on ENERGY_MODEL && CPU_FREQ_GOV_SCHEDUTIL
	help
	   task level to prefer to put the task
	   on big core or little core.
	   If the preferred type CPU has IDLE CPU,
	   put on the task on the idle CPU.
	   If there are no IDLE CPU on preferred type CPU,
	   the task placement will follow original policy.
endmenu

