config SINGLE_PANEL_OUTPUT
	bool "SINGLE_PANEL_OUTPUT"
	default n
	help
	  Decide whether to support single panel display feature.
	  Panel and tv can't not display at the same time.
	  When hdmi plug in, only show display in tv, panle will be black screen.
	  And when hdmi plug out, panel will resume.

