config MTK_SCHEDULER
	tristate "mtk scheduler feature"
	help
	  Choose this option to enable mtk schduler feature.
	  These features include
		non-linear DVFS control
		EAS enhancement

config MTK_OPP_CAP_INFO
	bool "Per-opp capacity information"
	depends on MTK_SCHEDULER
	help
	  Choose this option to provide per-opp capacity API.
	  Scheduler module will get per-opp capacity from sram and
	  initialize opp capacity table. This config is used by
	  performance tuning framework and non-linear frequency control.

config NONLINEAR_FREQ_CTL
	bool "Non-linear frequency control"
	depends on MTK_OPP_CAP_INFO
	help
	  Choose this option to enable non-linear frequency control.
	  This will change per-opp capacity from linear scaled by
	  freuqency to evaluated by benchmark. This makes capacity
	  more accurate and will let scheduler/schedutil use more
	  suitable frequency.

config MTK_EAS
	bool "MTK EAS enhancement"
	depends on MTK_SCHEDULER
	help
	  MTK EAS enhancement features.
	  These featues include
		load balance in the same frequency domain
		hint aware in idle balance

config MTK_CORE_PAUSE
	bool "core pause driver"
	depends on MTK_SCHEDULER
	help
	   Choose this option to provide core pause related API.
	   core pause intends to have a way to force a CPU to go idle
	   and to resume as quickly as possible, with as little
	   disruption as possible on the system.
