menuconfig ADF
	depends on SYNC
	depends on DMA_SHARED_BUFFER
	tristate "Atomic Display Framework (ADF)"
	help
	  Enable support for Atomic display framework.

config ADF_FBDEV
	depends on ADF
	depends on FB
	tristate "ADF fbdev helper"
	help
	  Enable ADF framebuffer driver helpere.

config ADF_MEMBLOCK
	depends on ADF
	depends on HAVE_MEMBLOCK
	tristate "ADF memblock helpers"
	help
	  Enable ADF memory block helpers

config ADF_INTEL
	depends on ADF
	tristate "Intel Display Driver"
	help
	  Enable ADF compatible Intel display driver.

choice
	prompt "Intel Gen Platform"
	depends on ADF_INTEL
	default ADF_INTEL_VLV
	help
	  The ADF driver supports multiple Intel GEN platforms. Select the targeted one.

	config ADF_INTEL_VLV
		bool "Valleyview"
		help
		  Intel VLV SoC Platform.
endchoice

config ADF_INTEL_FBDEV
	depends on ADF_INTEL && ADF_FBDEV
	tristate "Intel FBDEV Driver "
	help
	  Enable ADF based framebuffer driver for Intel displays.
