config MTK_CAMERA_ISP_RSC_SUPPORT
	bool "[RSC]Rolling Shutter Cancellation Support"
	default n
	depends on MTK_CAMERA_ISP
	help
	  Rolling Shutter Cancellation. Enable to compensate
	  any distortion due to the interplay of moving objects
	  and rolling shutters of CMOS sensors. Disable if it is
	  not supported or not wanted.

config MTK_CAMERA_ISP_DPE_SUPPORT
	bool "[DPE] Depth Engine Support"
	default n
	depends on MTK_CAMERA_ISP
	help
	  Depth Engine. Enable to calculate the depth information
	  between two images on Dual Camera Application. Disable
	  if it is not supported or not wanted. Utilize it can improve
	  image processing speed.

config MTK_CAMERA_ISP_TSF_SUPPORT
	bool "[TSF] Table Smooth Function Support"
	default n
	depends on MTK_CAMERA_ISP
	help
	  Table Smooth Function.
	  Enable to compensate lens
	  shading.
	  Disable if it is ot supported or not wanted.

config MTK_CAMERA_ISP_GEPF_SUPPORT
	bool "[GEPF]Global Edge Preserving Filter"
	default n
	depends on MTK_CAMERA_ISP
	help
	  Global Edge Preserving Filter.
	  Enable to use color
	  image to improve the quality of depth map.
	  Disable if it is not supported or not wanted.

config MTK_CAMERA_ISP_FD_SUPPORT
	bool "[FD] Face Detection"
	default n
	depends on MTK_CAMERA_ISP
	help
	  Face Detection.
	  Enable to detect faces on images.
	  Disable if it is not supported or
	  not wanted.

config MTK_CAMERA_ISP_WPE_SUPPORT
	bool "[WPE]Warping Engine"
	default n
	depends on MTK_CAMERA_ISP
	help
	  Warping Engine (WPE) is an important module to off-load
	  CPU/GPU loading on the features including Auto-Panorama,
	  Rolling Shutter Compensation (RSC), Video Face Beautify (VFB),
	  Electronic Image Stabilization 2.0 (EIS 2.0), and Lens
	  Distortion Compensation (LDC). The function of WPE is
	  dedicated for real-time image warping.

config MTK_CAMERA_ISP_EAF_SUPPORT
	bool "[EAF]Filter"
	default n
	depends on MTK_CAMERA_ISP
	help
	  Edge Aware Filter.
	  Enable to use segment target foreground object
	  in video sequences.
	  Disable if it is not supported or not wanted.