
config MTK_AUTO_DETECT_MAGNETOMETER
	bool "MTK_AUTO_DETECT_MAGNETOMETER"
	help
	  one load to support different magnetometer sensor.
          This feature Option is used for projects which using more than one
	  magnetometer, more than one ALSPS drivers can be builded in to
	  project and be auto detected by setting this option to yes

config CUSTOM_KERNEL_MAGNETOMETER
	bool "CUSTOM_KERNEL_MAGNETOMETER"
	help
	  compass driver to detect compass raw data and report orientatino
	  data. A compass is an instrument used for navigation and
          orientation that shows direction relative to the geographic
          cardinal directions, or "points".

config CUSTOM_KERNEL_MAGNETOMETER_MODULE
	bool "Use to control the mag sensor build type"
	help
	  Use to control the sensor build tpye.
	  If the config is set, it means sensor
	  will build ko module.
	  This is request fromo Google about odm driver.

source "drivers/misc/mediatek/magnetometer/akm8963-new/Kconfig"
source "drivers/misc/mediatek/magnetometer/akm09911-new/Kconfig"
source "drivers/misc/mediatek/magnetometer/akm09912/Kconfig"
source "drivers/misc/mediatek/magnetometer/s62x/Kconfig"
source "drivers/misc/mediatek/magnetometer/yamaha532-new/Kconfig"
source "drivers/misc/mediatek/magnetometer/bmc156_mag/Kconfig"
source "drivers/misc/mediatek/magnetometer/st480/Kconfig"
source "drivers/misc/mediatek/magnetometer/maghub/Kconfig"
