
menu "MTK MET configs"

config MTK_MET
	bool "Mediatek Embedded Technology"
	depends on FTRACE && TRACING
	help
	  For Mediatek Embedded Technology features.
	  It depends on FTRACE and TRACING.
          Select "Y" if you want to use.
          Select "N" if you are not sure.

source "drivers/misc/mediatek/met_drv/Kconfig"
endmenu

menu "MultiMedia, Display, Camera"

config MTK_DISP_PLATFORM
	string "MTK display platform name"
	help
	  To separate display features and control
	  for different platform. Config platform name
	  for your selection. It's used for display
	  driver only.

source "drivers/misc/mediatek/mmp/Kconfig"
source "drivers/misc/mediatek/lcm/Kconfig"
source "drivers/misc/mediatek/sync/Kconfig"
source "drivers/misc/mediatek/video/Kconfig"
endmenu  # MM

source "drivers/misc/mediatek/Kconfig.default"
source "drivers/misc/mediatek/mtprof/Kconfig"
config MTK_ATF_LOGGER
	bool "atf logger kernel driver"
	depends on HAVE_ARM_SMCCC && ARCH_MEDIATEK && OF
	default n
	help
	  ARM Trusted Firmwear Logger which is designed by Mediatek.
	  The logger provide a /proc interface for reading from
	  user space.
