#
# Synaptics DSX v2.6 touchscreen driver configuration
#
menuconfig TOUCHSCREEN_SYNAPTICS_DSX_v26
	bool "Synaptics DSX v2.6 touchscreen"
	default y
	help
	  Say Y here if you have a Synaptics DSX touchscreen connected
	  to your system.

	  If unsure, say N.

if TOUCHSCREEN_SYNAPTICS_DSX_v26

choice
	default TOUCHSCREEN_SYNAPTICS_DSX_I2C_v26
	prompt "Synaptics DSX v2.6 bus interface"
config TOUCHSCREEN_SYNAPTICS_DSX_I2C_v26
	bool "RMI over I2C"
	depends on I2C
config TOUCHSCREEN_SYNAPTICS_DSX_SPI_v26
	bool "RMI over SPI"
	depends on SPI_MASTER
config TOUCHSCREEN_SYNAPTICS_DSX_RMI_HID_I2C_v26
	bool "HID over I2C"
	depends on I2C
endchoice

config TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26
	tristate "Synaptics DSX v2.6 core driver module"
	depends on I2C || SPI_MASTER
	help
	  Say Y here to enable basic touch reporting functionality.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_core.

config TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_v26
	tristate "Synaptics DSX v2.6 RMI device module"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26
	help
	  Say Y here to enable support for direct RMI register access.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_rmi_dev.

config TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_v26
	tristate "Synaptics DSX v2.6 firmware update module"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26
	help
	  Say Y here to enable support for doing firmware update.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_fw_update.

config TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING_v26
	tristate "Synaptics DSX v2.6 test reporting module"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26
	help
	  Say Y here to enable support for retrieving production test reports.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_test_reporting.

config TOUCHSCREEN_SYNAPTICS_DSX_PROXIMITY_v26
	tristate "Synaptics DSX v2.6 proximity module"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26
	help
	  Say Y here to enable support for proximity functionality.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_proximity.

config TOUCHSCREEN_SYNAPTICS_DSX_ACTIVE_PEN_v26
	tristate "Synaptics DSX v2.6 active pen module"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26
	help
	  Say Y here to enable support for active pen functionality.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_active_pen.

config TOUCHSCREEN_SYNAPTICS_DSX_GESTURE_v26
	tristate "Synaptics DSX v2.6 user defined gesture module"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26
	help
	  Say Y here to enable support for user defined gesture functionality.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_gesture.

config TOUCHSCREEN_SYNAPTICS_DSX_VIDEO_v26
	tristate "Synaptics DSX v2.6 video module"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26
	help
	  Say Y here to enable support for video communication functionality.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_video.

config SECURE_TOUCH_SYNAPTICS_DSX_V26
	bool "Secure Touch support for Synaptics V2.6 Touchscreen"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_I2C_v26
	help
	  Say Y here
	  -Synaptics DSX V2.6 touch driver is connected
	  -To enable secure touch for Synaptics DSX V2.6 touch driver

	  If unsure, say N.

endif
