# Copyright (C) 2018 MediaTek Inc.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.

#
# Protect Memory configuration
#
config MTK_PROT_MEM_SUPPORT
	tristate "MTK Protect Memory Support"
	depends on MTK_GZ_KREE
	default y
	help
	  Enable the support of MediaTek protect memory driver.
	  This driver is in charge of protect memory region require/release
	  from SSMR and also the memory allocation/free requests from ION.
	  It is a proxy of MediaTek proprietary EL2 hypervisor for protect
	  memory management.
	  Say Y if you would like to enable this feature.
	  If unsure, say N.

#
# SVP Secure Memory configuration
#
config MTK_SECURE_MEM_SUPPORT
	tristate "MTK SVP SECURE Memory Support"
	depends on TRUSTONIC_TEE_SUPPORT || CONFIG_MTK_TEE_GP_SUPPORT
	default y
	help
	  Enable the support of MediaTek SVP secure memory driver.
	  This driver is in charge of SVP secure memory region require/release
	  from SSMR and also the memory allocation/free requests from ION.
	  It is a proxy of TEE secure memory driver for SVP secure memory
	  management.
	  Say Y if you would like to enable this feature.
	  If unsure, say N.

#
# WFD Secure Memory configuration
#
config MTK_WFD_SMEM_SUPPORT
	tristate "MTK WFD SECURE Memory Support"
	depends on MTK_SECURE_MEM_SUPPORT && MTK_SEC_VIDEO_PATH_SUPPORT
	default y
	help
	  Enable the support of MediaTek WFD secure memory driver.
	  This driver is in charge of WFD secure memory region require/release
	  from SSMR and also the memory allocation/free requests from ION.
	  It is a proxy of TEE secure memory driver for WFD secure memory
	  management.
	  Say Y if you would like to enable this feature.
	  If unsure, say N.

#
# Trusted Memory Subsystem Configuration
#
config MTK_TRUSTED_MEMORY_SUBSYSTEM
	tristate "MTK Trusted Memory Subsystem Support"
	depends on MTK_PROT_MEM_SUPPORT || MTK_SECURE_MEM_SUPPORT
	default y
	help
	  Enable the support of MediaTek trusted memory subsystem driver.
	  This driver provide a general subsystem layer for trusted peer memory
	  manager such as EL2 hypervisor or TEE. New type of trusted memory can
	  be registered to this subsystem easily.
	  Say Y if you would like to enable this feature.
	  If unsure, say N.
