config MTK_CAMERA_ISP_OWE_SUPPORT
	bool "[OWE] Occlusion and Weighted Median Filter"
	default n
	depends on MTK_CAMERA_ISP
	help
	  Depth-related Engine.
	  Enable to calculate the occlusion information
	  between two images on Dual Camera Application.
	  Disable if it is not supported or not wanted.

