CONFIG_ARCH_MEDIATEK=y
CONFIG_MTK_CCCI_DEVICES=y
CONFIG_MTK_MD1_SUPPORT=24
CONFIG_MTK_ECCCI_DRIVER=m
CONFIG_MTK_ECCCI_C2K=y
CONFIG_SCSI_UFS_MEDIATEK=m
CONFIG_KEYBOARD_MTK_KPD=m
CONFIG_KEYBOARD_MTK_PMIC=m
CONFIG_SERIAL_8250_NR_UARTS=2
CONFIG_SERIAL_8250_RUNTIME_UARTS=2
CONFIG_SERIAL_8250_MT6577=m
CONFIG_I2C_MT65XX=m
CONFIG_SPI_MT65XX=m
# CONFIG_PINCTRL_MT2712 is not set
# CONFIG_PINCTRL_MT6797 is not set
CONFIG_PINCTRL_MT6873=m
# CONFIG_PINCTRL_MT7622 is not set
# CONFIG_PINCTRL_MT8173 is not set
# CONFIG_PINCTRL_MT8183 is not set
# CONFIG_PINCTRL_MT8516 is not set
# CONFIG_PINCTRL_MT6397 is not set
CONFIG_CHARGER_MT6360=m
CONFIG_MEDIATEK_WATCHDOG=m
CONFIG_MTK_TIMER=m
CONFIG_MFD_MT6360=m
CONFIG_MFD_MT6397=m
CONFIG_REGULATOR_MT6359P=m
CONFIG_REGULATOR_MT6360=m
CONFIG_MTK_GPU_SUPPORT=m
CONFIG_MTK_GPU_VERSION="mali valhall r25p0"
CONFIG_EXTRA_FIRMWARE="valhall-1691526.wa"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_LCD_CLASS_DEVICE=m
CONFIG_RTC_DRV_MT6397=m
CONFIG_PWM_MTK_DISP=m
CONFIG_LEDS_REGULATOR_VIBRATOR=m
CONFIG_MTK_HSDMA=m
CONFIG_MTK_UART_APDMA=m
CONFIG_MTK_CQDMA=m
CONFIG_MTK_DCM_MT6873=m
CONFIG_COMMON_CLK_MT8192=m
CONFIG_COMMON_CLK_MT8192_APU0=m
CONFIG_COMMON_CLK_MT8192_APU1=m
CONFIG_COMMON_CLK_MT8192_APU_VCORE=m
CONFIG_COMMON_CLK_MT8192_APU_CONN=m
CONFIG_COMMON_CLK_MT8192_APU_MDLA0=m
CONFIG_COMMON_CLK_MT8192_AUDSYS=m
CONFIG_COMMON_CLK_MT8192_CAMSYS=m
CONFIG_COMMON_CLK_MT8192_CAMSYS_RAWA=m
CONFIG_COMMON_CLK_MT8192_CAMSYS_RAWB=m
CONFIG_COMMON_CLK_MT8192_CAMSYS_RAWC=m
CONFIG_COMMON_CLK_MT8192_IMGSYS=m
CONFIG_COMMON_CLK_MT8192_IMGSYS2=m
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP_C=m
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP_E=m
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP_N=m
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP_S=m
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP_W=m
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP_WS=m
CONFIG_COMMON_CLK_MT8192_IPESYS=m
CONFIG_COMMON_CLK_MT8192_MDPSYS=m
CONFIG_COMMON_CLK_MT8192_MFGCFG=m
CONFIG_COMMON_CLK_MT8192_MMSYS=m
CONFIG_COMMON_CLK_MT8192_MSDC_TOP=m
CONFIG_COMMON_CLK_MT8192_MSDC=m
CONFIG_COMMON_CLK_MT8192_SCP_ADSP=m
CONFIG_COMMON_CLK_MT8192_VDECSYS=m
CONFIG_COMMON_CLK_MT8192_VDECSYS_SOC=m
CONFIG_COMMON_CLK_MT8192_VENCSYS=m
CONFIG_MT635X_EFUSE=m
CONFIG_MTK_DEVINFO=m
CONFIG_MTK_CMDQ=m
CONFIG_MTK_CMDQ_MBOX_EXT=m
CONFIG_MTK_PMIC_WRAP=m
CONFIG_MTK_SCPSYS=m
CONFIG_MEDIATEK_MT6360_AUXADC=m
CONFIG_DEVAPC_MT6873=m
CONFIG_MTK_DEVINFO=m
CONFIG_MTK_DEVMPU=m
CONFIG_MTK_CM_MGR=m
CONFIG_MTK_CM_MGR_MT6873=y
CONFIG_MTK_IOMMU=m
CONFIG_DRM_MEDIATEK=m
CONFIG_DRM_MEDIATEK_V2=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_MMPROFILE=m
CONFIG_MTK_MBOX=m
CONFIG_RPMSG_MTK=m
CONFIG_MTK_IPI=m
CONFIG_DRM_PANEL_TRULY_TD4330_VDO=m
CONFIG_USB_MTU3=m
CONFIG_PHY_MTK_TPHY=m
CONFIG_MTK_TINYSYS_MCUPM_SUPPORT=m
CONFIG_MTK_APUSYS_SUPPORT=m
CONFIG_MTK_APUSYS_MDLA_SUPPORT=y
CONFIG_MTK_APUSYS_RT_SUPPORT=y
CONFIG_MTK_APUSYS_DEBUG=y
CONFIG_MEDIATEK_MT635X_AUXADC=m
CONFIG_MEDIATEK_MT6577_AUXADC=m
CONFIG_MTPROF=m
CONFIG_MTK_DVFSRC=m
CONFIG_REGULATOR_MTK_DVFSRC=m
CONFIG_INTERCONNECT_MTK=y
CONFIG_INTERCONNECT_MTK_EMI=m
CONFIG_MTK_CAMERA_ISP_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_VER="isp6s"
CONFIG_MTK_CAMERA_ISP_DPE_SUPPORT=m
CONFIG_MTK_CAMERA_ISP_DIP_SUPPORT=m
CONFIG_EINT_MTK=m
CONFIG_PINCTRL_MT6779=m
CONFIG_MTK_CAMERA_ISP_MFB_SUPPORT=m
CONFIG_MTK_CAMERA_ISP_RSC_SUPPORT=m
CONFIG_HAVE_MTK_MC=y
CONFIG_MTK_EMI=m
CONFIG_MTK_EMI_MPU_TEST=m
CONFIG_MTK_DRAMC=m
CONFIG_ARM_MEDIATEK_MCUPM_CPUFREQ=m
CONFIG_MTK_MMDVFS=m
CONFIG_HAVE_MTK_ENABLE_GENIEZONE=y
CONFIG_MTK_ENABLE_GENIEZONE=m
CONFIG_MTK_GZ_MAIN=m
CONFIG_MTK_GZ_LOG=m
CONFIG_MTK_GZ_VIRTIO=m
CONFIG_MTK_GZ_VIRTIO_IPC=m
CONFIG_MTK_GZ_IRQ=m
CONFIG_HAVE_MTK_GZ_LOG=y
CONFIG_MTK_GZ_TZ_SYSTEM=m
CONFIG_MTK_DVFSRC_HELPER=m
CONFIG_MTK_DVFSRC_MET_MT6873=m
