# SPDX-License-Identifier: GPL-2.0

config MTK_CAM_TIMESYNC
	tristate "Specify Interface Support Cam Timesync"
	depends on MTK_CAMERA_ISP_SUPPORT
	help
	  map camera isp hwclock to boot time and monotonic
	  time.
	  Set Y to enable this feature.
	  If unsure, set N to don't support this feature.
