config USB_TYPEC_CORE
	bool "Support for Type-C phy and detect"
	depends on USB_TYPEC
	help
	  Say Y here if your system has a Type-C connector support
	  for USB controller based on the USB phy IP Core and detection
	  available based on cc pull-up, pull-down or floating.

