/* Copyright (c) 2014-2015, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/*
 * As a general rule, only version-specific property overrides should be placed
 * inside this file. Common device definitions should be placed inside the
 * msm8996.dtsi file.
 */

#include "msm8996.dtsi"
#include "msm-arm-smmu-8996v2.dtsi"
#include "msm8996-coresight-v2.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. MSM 8996 v2";
	qcom,msm-id = <246 0x20001>;
};

&clock_gcc {
	compatible = "qcom,gcc-8996-v2";
};

&clock_debug {
	compatible = "qcom,cc-debug-8996-v2";
};

&clock_mmss {
	compatible = "qcom,mmsscc-8996-v2";
};

&clock_gpu {
	compatible = "qcom,gpucc-8996-v2";
	qcom,gfxfreq-corner-v2 =
		<	   0  0  0 >,
		<  125000000  3  4 >,
		<  210000000  3  4 >,
		<  300000000  3  4 >,
		<  500000000  4  5 >,
		<  604800000  5  7 >;
	qcom,gpufreq-mx-corner-v2=
		<	   0  0 >,
		<  125000000  4 >,
		<  210000000  4 >,
		<  300000000  4 >,
		<  500000000  5 >,
		<  604800000  7 >;
};

&gdsc_gpu_gx {
	clock-names = "bimc_core_clk", "core_clk", "core_root_clk";
	clocks = <&clock_gcc clk_gcc_mmss_bimc_gfx_clk>,
		 <&clock_gpu clk_gpu_gx_gfx3d_clk>,
		 <&clock_gpu clk_gfx3d_clk_src_v2>;
};

/* GPU overrides */
&msm_gpu {
	/* Updated chip ID */
	qcom,chipid = <0x05030001>;

	qcom,initial-pwrlevel = <3>;
	qcom,bus-width = <32>;

	/* Power levels */
	qcom,gpu-pwrlevels {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "qcom,gpu-pwrlevels";

		qcom,gpu-pwrlevel@0 {
			reg = <0>;
			qcom,gpu-freq = <604800000>;
			qcom,bus-freq = <13>;
			qcom,bus-min = <12>;
			qcom,bus-max = <13>;
		};

		qcom,gpu-pwrlevel@1 {
			reg = <1>;
			qcom,gpu-freq = <500000000>;
			qcom,bus-freq = <10>;
			qcom,bus-min = <9>;
			qcom,bus-max = <11>;
		};

		qcom,gpu-pwrlevel@2 {
			reg = <2>;
			qcom,gpu-freq = <300000000>;
			qcom,bus-freq = <7>;
			qcom,bus-min = <6>;
			qcom,bus-max = <8>;
		};

		qcom,gpu-pwrlevel@3 {
			reg = <3>;
			qcom,gpu-freq = <210000000>;
			qcom,bus-freq = <4>;
			qcom,bus-min = <3>;
			qcom,bus-max = <5>;
		};

		qcom,gpu-pwrlevel@4 {
			reg = <4>;
			qcom,gpu-freq = <27000000>;
			qcom,bus-freq = <0>;
			qcom,bus-min = <0>;
			qcom,bus-max = <0>;
		};
	};
};

&kgsl_msm_iommu {
	qcom,global_pt;
};

&mdss_mdp {
	gdsc-venus-supply = <&gdsc_venus>;
};

&mdss_dsi {
	gdsc-venus-supply = <&gdsc_venus>;
	qcom,core-supply-entries {
		#address-cells = <1>;
		#size-cells = <0>;

		qcom,core-supply-entry@0 {
			reg = <0>;
			qcom,supply-name = "gdsc-venus";
			qcom,supply-min-voltage = <0>;
			qcom,supply-max-voltage = <0>;
			qcom,supply-enable-load = <0>;
			qcom,supply-disable-load = <0>;
		};

		qcom,core-supply-entry@1 {
			reg = <1>;
			qcom,supply-name = "gdsc";
			qcom,supply-min-voltage = <0>;
			qcom,supply-max-voltage = <0>;
			qcom,supply-enable-load = <0>;
			qcom,supply-disable-load = <0>;
		};
	};
};

&mdss_hdmi_tx {
	hpd-gdsc-venus-supply = <&gdsc_venus>;
	qcom,supply-names = "hpd-gdsc-venus", "hpd-gdsc";
	qcom,min-voltage-level = <0 0>;
	qcom,max-voltage-level = <0 0>;
	qcom,enable-load = <0 0>;
	qcom,disable-load = <0 0>;
};

&mdss_dsi0_pll {
	gdsc-venus-supply = <&gdsc_venus>;
	qcom,platform-supply-entries {
		#address-cells = <1>;
		#size-cells = <0>;

		qcom,platform-supply-entry@0 {
			reg = <0>;
			qcom,supply-name = "gdsc-venus";
			qcom,supply-min-voltage = <0>;
			qcom,supply-max-voltage = <0>;
			qcom,supply-enable-load = <0>;
			qcom,supply-disable-load = <0>;
		};

		qcom,platform-supply-entry@1 {
			reg = <1>;
			qcom,supply-name = "gdsc";
			qcom,supply-min-voltage = <0>;
			qcom,supply-max-voltage = <0>;
			qcom,supply-enable-load = <0>;
			qcom,supply-disable-load = <0>;
		};

		qcom,platform-supply-entry@2 {
			reg = <2>;
			qcom,supply-name = "vdda";
			qcom,supply-min-voltage = <1250000>;
			qcom,supply-max-voltage = <1250000>;
			qcom,supply-enable-load = <18160>;
			qcom,supply-disable-load = <1>;
		};

		qcom,platform-supply-entry@3 {
			reg = <3>;
			qcom,supply-name = "vcca";
			qcom,supply-min-voltage = <925000>;
			qcom,supply-max-voltage = <925000>;
			qcom,supply-enable-load = <17000>;
			qcom,supply-disable-load = <33>;
		};
	};
};

&mdss_dsi1_pll {
	gdsc-venus-supply = <&gdsc_venus>;
	qcom,platform-supply-entries {
		#address-cells = <1>;
		#size-cells = <0>;

		qcom,platform-supply-entry@0 {
			reg = <0>;
			qcom,supply-name = "gdsc-venus";
			qcom,supply-min-voltage = <0>;
			qcom,supply-max-voltage = <0>;
			qcom,supply-enable-load = <0>;
			qcom,supply-disable-load = <0>;
		};

		qcom,platform-supply-entry@1 {
			reg = <1>;
			qcom,supply-name = "gdsc";
			qcom,supply-min-voltage = <0>;
			qcom,supply-max-voltage = <0>;
			qcom,supply-enable-load = <0>;
			qcom,supply-disable-load = <0>;
		};

		qcom,platform-supply-entry@2 {
			reg = <2>;
			qcom,supply-name = "vdda";
			qcom,supply-min-voltage = <1250000>;
			qcom,supply-max-voltage = <1250000>;
			qcom,supply-enable-load = <18160>;
			qcom,supply-disable-load = <1>;
		};

		qcom,platform-supply-entry@3 {
			reg = <3>;
			qcom,supply-name = "vcca";
			qcom,supply-min-voltage = <925000>;
			qcom,supply-max-voltage = <925000>;
			qcom,supply-enable-load = <17000>;
			qcom,supply-disable-load = <33>;
		};
	};
};

&mdss_hdmi_pll {
	gdsc-venus-supply = <&gdsc_venus>;
	qcom,platform-supply-entries {
		#address-cells = <1>;
		#size-cells = <0>;

		qcom,platform-supply-entry@0 {
			reg = <0>;
			qcom,supply-name = "gdsc-venus";
			qcom,supply-min-voltage = <0>;
			qcom,supply-max-voltage = <0>;
			qcom,supply-enable-load = <0>;
			qcom,supply-disable-load = <0>;
		};

		qcom,platform-supply-entry@1 {
			reg = <1>;
			qcom,supply-name = "gdsc";
			qcom,supply-min-voltage = <0>;
			qcom,supply-max-voltage = <0>;
			qcom,supply-enable-load = <0>;
			qcom,supply-disable-load = <0>;
		};

		qcom,platform-supply-entry@2 {
			reg = <2>;
			qcom,supply-name = "vddio";
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-enable-load = <100000>;
			qcom,supply-disable-load = <100>;
		};

		qcom,platform-supply-entry@3 {
			reg = <3>;
			qcom,supply-name = "vcca";
			qcom,supply-min-voltage = <925000>;
			qcom,supply-max-voltage = <925000>;
			qcom,supply-enable-load = <10000>;
			qcom,supply-disable-load = <100>;
		};
	};
};

&soc {
	tsens1: tsens@4ad000 {
		compatible = "qcom,msm8996-tsens";
		reg = <0x4ac000 0x2000>,
			<0x75230 0x1000>;
		reg-names = "tsens_physical", "tsens_eeprom_physical";
		interrupts = <0 184 0>, <0 430 0>;
		interrupt-names = "tsens-upper-lower", "tsens-critical";
		qcom,client-id = <13 14 15 16 17 18 19 20>;
		qcom,sensor-id = <1 6 7 0 2 3 4 5>;
		qcom,sensors = <8>;
		qcom,slope = <2901 2846 3200 3200 3200 3200 3200 3200>;
	};

	ipa_hw: qcom,ipa@680000 {
		compatible = "qcom,ipa";
		reg = <0x680000 0x4effc>,
			<0x684000 0x26934>;
		reg-names = "ipa-base", "bam-base";
		interrupts = <0 333 0>,
					<0 432 0>;
		interrupt-names = "ipa-irq", "bam-irq";
		qcom,ipa-hw-ver = <5>; /* IPA core version = IPAv2.5 */
		qcom,ipa-hw-mode = <0>;
		qcom,ee = <0>;
		qcom,use-ipa-tethering-bridge;
		qcom,ipa-bam-remote-mode;
		qcom,modem-cfg-emb-pipe-flt;
		clocks = <&clock_gcc clk_ipa_clk>;
		clock-names = "core_clk";
		qcom,use-dma-zone;
	};

	qcom,lpm-levels {
		qcom,pm-cluster@0 {
			qcom,pm-cluster@0{
				qcom,pm-cpu {
					qcom,pm-cpu-level@1 { /* C4 */
						qcom,jtag-save-restore;
					};
				};
			};

			qcom,pm-cluster@1{
				qcom,pm-cpu {
					qcom,pm-cpu-level@1 { /* C4 */
						qcom,jtag-save-restore;
					};
				};
			};
		};
	};
};

&tsens0 {
	interrupts = <0 458 0>, <0 445 0>;
	qcom,sensors = <13>;
	qcom,slope = <2901 2846 3200 3200 3200 3200 3200 3200 3200 3200 3200 3200 3200>;
};

&mdss_hdmi_pll {
	compatible = "qcom,mdss_hdmi_pll_8996_v2";
};

&mdss_hdmi_tx {
	status = "ok";
};
