/* Copyright (c) 2016 The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/*
 * As a general rule, only version-specific property overrides should be placed
 * inside this file. Common device definitions should be placed inside the
 * msmcobalt.dtsi file.
 */

#include "msmcobalt.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. MSMCOBALT v2";
	qcom,msm-id = <292 0x20000>;
};

&clock_gcc {
	compatible = "qcom,gcc-cobalt-v2";
};

&clock_mmss {
	compatible = "qcom,mmsscc-cobalt-v2";
};

&clock_gpu {
	compatible = "qcom,gpucc-cobalt-v2";
};

&clock_gfx {
	compatible = "qcom,gfxcc-cobalt-v2";
	qcom,gfxfreq-speedbin0 =
		<         0 0                           0 >,
		< 189000000 1 RPM_SMD_REGULATOR_LEVEL_SVS >,
		< 264000000 2 RPM_SMD_REGULATOR_LEVEL_SVS >,
		< 342000000 3 RPM_SMD_REGULATOR_LEVEL_SVS >,
		< 414000000 4 RPM_SMD_REGULATOR_LEVEL_SVS >,
		< 520000000 5 RPM_SMD_REGULATOR_LEVEL_NOM >,
		< 596000000 6 RPM_SMD_REGULATOR_LEVEL_NOM >,
		< 670000000 7 RPM_SMD_REGULATOR_LEVEL_TURBO >,
		< 710000000 8 RPM_SMD_REGULATOR_LEVEL_TURBO >;
	qcom,gfxfreq-mx-speedbin0 =
		<         0                           0 >,
		< 189000000 RPM_SMD_REGULATOR_LEVEL_SVS >,
		< 264000000 RPM_SMD_REGULATOR_LEVEL_SVS >,
		< 342000000 RPM_SMD_REGULATOR_LEVEL_SVS >,
		< 414000000 RPM_SMD_REGULATOR_LEVEL_SVS >,
		< 520000000 RPM_SMD_REGULATOR_LEVEL_NOM >,
		< 596000000 RPM_SMD_REGULATOR_LEVEL_NOM >,
		< 670000000 RPM_SMD_REGULATOR_LEVEL_TURBO >,
		< 710000000 RPM_SMD_REGULATOR_LEVEL_TURBO >;
};

&mdss_mdp {
	qcom,vbif-settings = <0x00d0 0x00002020>;
};
