/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 * Copyright (C) 2018 XiaoMi, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&slim_aud {
	status = "disabled";
};

&dai_slim {
	status = "disabled";
};

&wcd9335 {
	status = "disabled";
};

&wcd934x_cdc {
	status = "disabled";
};

&clock_audio {
	status = "disabled";
};

&wcd_rst_gpio {
	status = "disabled";
};

&wcd9xxx_intc {
	status = "disabled";
};

&tasha_snd {
	status = "disabled";
};

&tavil_snd {
	status = "disabled";
};

/*&spi_7 {
	status = "disabled";
};*/

&wdsp_mgr {
	status = "disabled";
};

&wdsp_glink {
	status = "disabled";
};

&glink_spi_xprt_wdsp {
	status = "disabled";
};

&glink_fifo_wdsp {
	status = "disabled";
};

&glink_qos_wdsp {
	status = "disabled";
};

&int_codec {
	status = "okay";
	qcom,wsa-disable;
};

&pmic_analog_codec {
	status = "okay";
};

&msm_sdw_codec {
	status = "okay";
};

&i2c_6 { /* SmartPA TI */
	status = "okay";
	tas2557@4c {
			compatible = "ti,tas2557";
			reg = <0x4c>;
			#ti,load = <0>;   /* 0, 8Ohm; 1, 6Ohm; 2, 4Ohm */
			#ti,channel = <0>;   /* 0, left channel; 1, right channel */
			i2c-pull-up;
			vdd-supply = <&pm660l_l6>;
			vcc_i2c-supply = <&pm660l_l6>;
			ti,cdc-reset-gpio = <&tlmm 77 0>;
			ti,irq-gpio = <&tlmm 73 0>;
			ti,i2s-bits = <16>;
			status = "ok";
		};

	tfa98xx@34 {
			compatible = "nxp,tfa98xx";
			reg = <0x34>;
			i2c-pull-up;
			vdd-supply = <&pm660l_l6>;
			vcc_i2c-supply = <&pm660l_l6>;
			reset-gpio = <&tlmm 77 0>;
			irq-gpio = <&tlmm 73 0>;
			status = "ok";
		};
};
