
config PRINTK_MT_PREFIX
	bool "Prefix cpu_id/status/pid/process_name to each kernel log"
	default y
	help
	  PRINTK_MT_PREFIX which is used to control whether to show
	  process information about this log.
	  the information about which cpu about this
	  process in, and whether in isr.

config MTK_PRINTK_UART_CONSOLE
	bool "MTK printk UART controller"
	default y
	help
	  MTK_PRINTK_UART_CONSOLE which is used to control whether to
	  control printk to uart console.  when boot up finish
	  uart console do not output printk log.
	  also RD can set the setting by command.

config LOG_TOO_MUCH_WARNING
	bool "printk too much warning"
	default y
	depends on PRINTK_MT_PREFIX
	help
	  LOG_TOO_MUCH_WARNING which is used to control whether to
	  detect printk too much issue. kernel log too much will detect and
	  create a exception when printk log large than
	  LOG_TOO_MUCH_DETECT_COUNT in one second.

config LOG_TOO_MUCH_DETECT_COUNT
	hex "printk too much detect count"
	default 0xC8
	depends on LOG_TOO_MUCH_WARNING

config LOG_TOO_MUCH_DETECT_GAP
	hex "detect log too much delay time"
	default 1
	depends on LOG_TOO_MUCH_WARNING

config CONSOLE_LOCK_DURATION_DETECT
	bool "Console lock duration detection"
	default y
	help
	  When one cpu exec console_unlock, it may be writing to console for long time
	  if log is too much. This may Trigger HWT.
	  We should better detect the duration in console.
	  If the duration is over criteria, it will Report DB.

