#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		vdd_ac_bat_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd_ac_bat";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;

			consumers {
				c1 {
					regulator-consumer-supply = "vdd_sys_bl";
				};
			};
		};

		usb0_vbus: regulator@1 {
			compatible = "regulator-fixed-sync";
			reg = <1>;
			regulator-name = "usb0-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(N, 4) 0>;
			enable-active-high;
			gpio-open-drain;

			consumers {
				c1 {
					regulator-consumer-supply = "usb_vbus0";
					regulator-consumer-device = "tegra-xhci";
				};
			};
		};

		usb1_vbus: regulator@2 {
			compatible = "regulator-fixed-sync";
			reg = <2>;
			regulator-name = "usb1-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(N, 5) 0>;
			gpio-open-drain;
			vin-supply = <&palmas_smps10_out2>;

			consumers {
				c1 {
					regulator-consumer-supply = "usb_vbus";
					regulator-consumer-device = "tegra-ehci.1";
				};
				c2 {
					regulator-consumer-supply = "usb_vbus1";
					regulator-consumer-device = "tegra-xhci";
				};
			};
		};

		usb2_vbus: regulator@3 {
			compatible = "regulator-fixed-sync";
			reg = <3>;
			regulator-name = "usb2-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(FF, 1) 0>;
			gpio-open-drain;
			vin-supply = <&palmas_smps10_out2>;

			consumers {
				c1 {
					regulator-consumer-supply = "usb_vbus";
					regulator-consumer-device = "tegra-ehci.2";
				};
				c2 {
					regulator-consumer-supply = "usb_vbus2";
					regulator-consumer-device = "tegra-xhci";
				};
			};
		};

		avdd_lcd: regulator@41 {
			compatible = "regulator-fixed-sync";
			reg = <41>;
			regulator-name = "avdd-lcd-vsp";
			regulator-min-microvolt = <5500000>;
			regulator-max-microvolt = <5500000>;
			regulator-boot-on;
			gpio = <&gpio 68 0>;
			enable-active-high;

			consumers {
				c1 {
					regulator-consumer-supply = "avdd_lcd";
				};
			};
		};

		bvdd_lcd: regulator@42 {
			compatible = "regulator-fixed-sync";
			reg = <42>;
			regulator-name = "avdd-lcd-vsn";
			regulator-min-microvolt = <5500000>;
			regulator-max-microvolt = <5500000>;
			regulator-boot-on;
			gpio = <&gpio 146 0>;
			enable-active-high;

			consumers {
				c1 {
					regulator-consumer-supply = "bvdd_lcd";
				};
			};
		};

		vdd_lcd: regulator@5 {
			compatible = "regulator-fixed-sync";
			reg = <5>;
			regulator-name = "vdd-lcd";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			enable-active-high;
			gpio = <&palmas_gpio 4 0>;
			vin-supply = <&palmas_smps8>;

			consumers {
				c1 {
					regulator-consumer-supply = "vdd_lcd_1v2_s";
				};
			};
		};

		ldoen: regulator@6 {
			compatible = "regulator-fixed-sync";
			reg = <6>;
			regulator-name = "ldoen";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			enable-active-high;
			gpio = <&palmas_gpio 6 0>;
			vin-supply = <&palmas_smps8>;

			consumers {
				c1 {
					regulator-consumer-supply = "ldoen";
					regulator-consumer-device = "tegra-snd-rt5639";
				};
			};
		};

		en_lcd_bl: regulator@8 {
			compatible = "regulator-fixed-sync";
			reg = <8>;
			regulator-name = "en-lcd-bl";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(H, 2) 0>;

			consumers {
				c1 {
					regulator-consumer-supply = "vdd_lcd_bl_en";
				};
			};
		};

		vdd_hdmi: regulator@9 {
			compatible = "regulator-fixed-sync";
			reg = <9>;
			regulator-name = "vdd-hdmi";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(K, 6) 0>;
			vin-supply = <&palmas_smps10_out1>;

			consumers {
				c1 {
					regulator-consumer-supply = "vdd_hdmi_5v0";
					regulator-consumer-device = "tegradc.1";
				};
			};
		};
		vdd_cam_1v8: regulator@10 {
			compatible = "regulator-fixed-sync";
			reg = <10>;
			regulator-name = "vdd-cam-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			enable-active-high;
			gpio = <&palmas_gpio 1 0>;
			vin-supply = <&palmas_smps8>;

			consumers {
				c1 {
					regulator-consumer-supply = "vdd_cam_1v8";
				};
			};
		};
		vdd_cam_1v2: regulator@11 {
			compatible = "regulator-fixed-sync";
			reg = <11>;
			regulator-name = "vdd-cam-1v2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			enable-active-high;
			gpio = <&palmas_gpio 2 0>;
			vin-supply = <&palmas_smps8>;

			consumers {
				c1 {
					regulator-consumer-supply = "vdd_cam_1v2";
				};
			};
		};
	};
};
