config IRQCHIP
	def_bool y
	depends on OF_IRQ

config ARM_GIC
	bool
	select IRQ_DOMAIN
	select IRQ_DOMAIN_HIERARCHY
	select MULTI_IRQ_HANDLER

config GIC_NON_BANKED
	bool

config ARM_GIC_V3
	bool
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER

config ARM_NVIC
	bool
	select IRQ_DOMAIN
	select GENERIC_IRQ_CHIP

config ARM_VIC
	bool
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER

config ARM_VIC_NR
	int
	default 4 if ARCH_S5PV210
	default 2
	depends on ARM_VIC
	help
	  The maximum number of VICs available in the system, for
	  power management.

config ATMEL_AIC_IRQ
	bool
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER
	select SPARSE_IRQ

config ATMEL_AIC5_IRQ
	bool
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER
	select SPARSE_IRQ

config BRCMSTB_L2_IRQ
	bool
	depends on ARM
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN

config DW_APB_ICTL
	bool
	select IRQ_DOMAIN

config IMGPDC_IRQ
	bool
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN

config CLPS711X_IRQCHIP
	bool
	depends on ARCH_CLPS711X
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER
	select SPARSE_IRQ
	default y

config OR1K_PIC
	bool
	select IRQ_DOMAIN

config OMAP_IRQCHIP
	bool
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN

config ORION_IRQCHIP
	bool
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER

config RENESAS_INTC_IRQPIN
	bool
	select IRQ_DOMAIN

config RENESAS_IRQC
	bool
	select IRQ_DOMAIN

config TB10X_IRQC
	bool
	select IRQ_DOMAIN
	select GENERIC_IRQ_CHIP

config VERSATILE_FPGA_IRQ
	bool
	select IRQ_DOMAIN

config VERSATILE_FPGA_IRQ_NR
       int
       default 4
       depends on VERSATILE_FPGA_IRQ

config XTENSA_MX
	bool
	select IRQ_DOMAIN

config IRQ_CROSSBAR
	bool
	help
	  Support for a CROSSBAR ip that precedes the main interrupt controller.
	  The primary irqchip invokes the crossbar's callback which inturn allocates
	  a free irq and configures the IP. Thus the peripheral interrupts are
	  routed to one of the free irqchip interrupt lines.

config KEYSTONE_IRQ
	tristate "Keystone 2 IRQ controller IP"
	depends on ARCH_KEYSTONE
	help
		Support for Texas Instruments Keystone 2 IRQ controller IP which
		is part of the Keystone 2 IPC mechanism

config MTK_GIC
	bool
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER
	help
	  Support for Mediatek generic interrupt controller

config MTK_EIC
	bool
	select IRQ_DOMAIN
	help
	  Support for Mediatek external interrupt controller

config MTK_SEC_DEINT_SUPPORT
	bool
	def_bool n
	depends on MTK_EIC
	help
	  This option is used to enable a feature called secure direct eint support.
	  This feature have to be enabled with MTK_SEC_DEIC_SUPPORT in ATF. ATF direct
	  secure EINT driver have provide secure DEINT Configuration and Release command
	  for SMC call originated from TEE and filter the SMC call from kernel. The change for
	  kernel EINT driver is that mt_eint_set_deint() will check the wanted deint is secure
	  direct eint, if yes, skip the configuration. if not, kernel can configure this deint.
	  Since not every platform support secure direct eint, you must enable this config carefully.

config MTK_INTPOL
	bool
	help
	  Support for MediaTek intpol used on mt65xx/mt81xx


config MTK_EIC_HISTORY_DUMP
	bool "Enable MTK EIC HISTORY Debugger"
	def_bool n
	depends on MTK_EIC
	---help---
	  This option is used to collect last eint
	  interupts and its property before WDT TIMEOUT.
	  with thie option, we could know which
	  eint interrupt is triggered too often to cause system
	  watchdog timeout.


config MTK_IRQ_NEW_DESIGN
	bool
	help
	  Support for MediaTek new interrupt design

config MTK_IRQ_NEW_DESIGN_DEBUG
	bool
	select MTK_IRQ_NEW_DESIGN
	help
	  Support for debugging feature for MediaTek new interrupt design
