config MSM_HAB
	boolean "Enable Multimedia driver Hypervisor Abstraction Layer"
	help
	  Multimedia driver hypervisor abstraction layer.
	  Required for drivers to use the HAB API to communicate with the host
	  OS.

