config MTK_SYSENV
	bool "Enable sysenv driver"
	default n
	help
	  Define sysenv driver config to enable sysenv driver.
	  Sysenv driver is used for storing settings needed by bootloader.
	  Set Y to support.
	  Set N to disable.
