config MTK_CAM_SECURITY_SUPPORT
	bool "Secure Camera Infrastructure Support"
	default n
	help
	  This is an option for MTK secure camera infrastructure.
	  It provides hardware-based security that guarantees the data integrity
	  form image sensor, ISP DMA port access to secure memory.
	  If you are not sure about this, do not set it to y.
