
config CUSTOM_KERNEL_SENSORHUB
	bool "CUSTOM_KERNEL_SENSORHUB"
	help
	  Kernel space sensor hub driver. Define project used all sensor hub
	  sensors. The value is combination of sensor hub driver(get data...etc)
	  and sensor hub framework driver(transmit shf info)

source "drivers/misc/mediatek/sensorHub/SCP_sensorHub/Kconfig"
source "drivers/misc/mediatek/sensorHub/SCP_sensorHub_v1/Kconfig"
source "drivers/misc/mediatek/sensorHub/SCP_shf/Kconfig"
