menu "Qualcomm MSM specific device drivers"
	depends on ARCH_MSM

config MSM_BUS_SCALING
	bool "Bus scaling driver"
	help
		This option enables bus scaling on MSM devices.  Bus scaling
		allows devices to request the clocks be set to rates sufficient
		for the active devices needs without keeping the clocks at max
		frequency when a slower speed is sufficient.

config MSM_BUSPM_DEV
	tristate "MSM Bus Performance Monitor Kernel Module"
	depends on MSM_BUS_SCALING
	help
	  This kernel module is used to mmap() hardware registers for the
	  performance monitors, counters, etc. The module can also be used to
	  allocate physical memory which is used by bus performance hardware to
	  dump performance data

config BUS_TOPOLOGY_ADHOC
	bool "ad-hoc bus scaling topology"
	help
		This option enables a driver that can handle adhoc bus topologies.
		Adhoc bus topology driver allows one to many connections and maintains
		directionality of connections by explicitly listing device connections
		thus avoiding illegal routes.

config QPNP_POWER_ON
	tristate "QPNP PMIC POWER-ON Driver"
	depends on OF_SPMI && SPMI && MSM_QPNP_INT && INPUT
	help
	  This driver supports the power-on functionality on Qualcomm
	  PNP PMIC. It currently supports reporting the change in status of
	  the KPDPWR_N line (connected to the power-key).

config QPNP_REVID
	tristate "QPNP Revision ID Peripheral"
	depends on SPMI
	help
	  Say 'y' here to include support for the Qualcomm QPNP REVID
	  peripheral. REVID prints out the PMIC type and revision numbers
	  in the kernel log along with the PMIC option status. The PMIC
	  type is mapped to a Qualcomm chip part number and logged as well.

config QPNP_COINCELL
	tristate "Qualcomm QPNP coincell charger support"
	depends on SPMI && OF_SPMI
	help
	  This driver supports the QPNP coincell peripheral found inside of
	  Qualcomm QPNP PMIC devices.  The coincell charger provides a means to
	  charge a coincell battery or backup capacitor which is used to
	  maintain PMIC register state when the main battery is removed from the
	  mobile device.

config SPS
	bool "SPS support"
	select GENERIC_ALLOCATOR
	help
	  The SPS (Smart Peripheral Switch) is a DMA engine.
	  It can move data in the following modes:
		1. Peripheral-to-Peripheral.
		2. Peripheral-to-Memory.
		3. Memory-to-Memory.

config SPS_SUPPORT_BAMDMA
	bool "SPS support BAM DMA"
	depends on SPS
	default n
	help
	  The BAM-DMA is used for Memory-to-Memory transfers.
	  The main use cases is RPC between processors.
	  The BAM-DMA hardware has 2 registers sets:
		1. A BAM HW like all the peripherals.
		2. A DMA channel configuration (i.e. channel priority).

config SPS_SUPPORT_NDP_BAM
	bool "SPS support NDP BAM"
	depends on SPS
	default n
	help
	  No-Data-Path BAM is used to improve BAM performance.

config I2C_MSM_PROF_DBG
	tristate "I2C_MSM_PROF_DBG"
	depends on ARCH_MSM && I2C_MSM_V2
	help
	  This option enables the enhanced logging, profiling and debugfs
	  support to the i2c-msm-v2 driver. If you say yes to this option,
	  you can change the deugging level to adjust the amount of debugging
	  information as needed at run time using debugfs.

	  This module can also be dynamically linked as a shared kernel object.

endmenu
