# CONFIG_MTK_COMBO_CHIP_CONSYS_6893 is not set
# CONFIG_MTK_COMBO_CHIP_CONSYS_6983 is not set
# CONFIG_MTK_COMBO_CHIP_CONSYS_6879 is not set
# CONFIG_MTK_COMBO_CHIP_CONSYS_6895 is not set
CONFIG_MTK_COMBO_CHIP_CONSYS_6855=y
CONFIG_DRM_PANEL_SAMSUNG_ANA6705_CMD_FHDP=m
CONFIG_MTK_DISABLE_DISP_GCE=y
# CONFIG_INTERCONNECT_MTK_MMQOS_MT6983 is not set
# CONFIG_INTERCONNECT_MTK_MMQOS_MT6879 is not set
# CONFIG_INTERCONNECT_MTK_MMQOS_MT6895 is not set
CONFIG_INTERCONNECT_MTK_MMQOS_MT6855=m
CONFIG_INTERCONNECT_MTK_MMQOS_MT6789=m
CONFIG_MTK_MDP_MTEE_SUPPORT=m
CONFIG_MTK_RECU_FENCE_LOCK=y
CONFIG_MTK_SCP_AUDIO=m
