CONFIG_UBSAN_SHIFT=y
CONFIG_UBSAN_DIV_ZERO=y
CONFIG_UBSAN_UNREACHABLE=y
# CONFIG_UBSAN_OBJECT_SIZE is not set
CONFIG_UBSAN_BOOL=y
CONFIG_UBSAN_ENUM=y
CONFIG_KASAN=y
# CONFIG_KASAN_HW_TAGS is not set
CONFIG_KASAN_INLINE=y
CONFIG_KASAN_STACK=y
CONFIG_FRAME_WARN=0
CONFIG_MTK_PRINTK_UART_CONSOLE=y
CONFIG_MTK_PRINTK=m
CONFIG_PAGE_POISONING=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_MTK_IRQ_MONITOR=m
CONFIG_MTK_IRQ_MONITOR_DEFAULT_ENABLED=y
CONFIG_MTK_IRQ_MONITOR_IRQ_TIMER_OVERRIDE=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5kjd1_mipi_raw imx519_mipi_raw imx586_mipi_raw imx576_mipi_raw imx481_mipi_raw s5k3m5sx_mipi_raw ov48b_mipi_raw imx766_mipi_raw s5k3p9sp_mipi_raw imx766dual_mipi_raw s5k4h7alpha_mipi_raw gc02m1_mipi_raw imx582_mipi_raw imx596_mipi_raw"
# CONFIG_ABI_MONITOR is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD is not set
# CONFIG_DRM_PANEL_SAMSUNG_OP_CMD_MSYNC2 is not set
# CONFIG_SND_SOC_MT6855 is not set
# CONFIG_SND_SOC_MT6855_MT6369 is not set
# CONFIG_NFC_CHIP_SUPPORT is not set
# CONFIG_NFC_ST21NFC is not set
# CONFIG_NFC_ST54_SPI is not set
