// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 MediaTek Inc.
 * Author: Owen Chen <owen.chen@mediatek.com>
 */

&clkitg {
	status = "okay";
	bring-up {
		compatible = "mediatek,clk-bring-up";
		clocks =
			<&topckgen_clk CLK_TOP_DSP_SEL>,
			<&topckgen_clk CLK_TOP_UART_SEL>,
			<&topckgen_clk CLK_TOP_PEXTP_MBIST_SEL>,
			<&topckgen_clk CLK_TOP_IPSEAST_SEL>,
			<&topckgen_clk CLK_TOP_IPSSOUTH_SEL>,
			<&topckgen_clk CLK_TOP_IPSWEST_SEL>,
			<&topckgen_clk CLK_TOP_TL_SEL>,
			<&topckgen_clk CLK_TOP_AUDIO_LOCAL_BUS_SEL>,
			<&topckgen_clk CLK_TOP_APLL_ETDM_IN1_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_ETDM_OUT1_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S10_MCK_SEL>,
			<&topckgen_clk CLK_TOP_CAM_SEL>,
			<&topckgen_clk CLK_TOP_CAMTM_SEL>,
			<&infracfg_ao_clk CLK_IFRAO_CLDMA_BCLK>,
			<&infracfg_ao_clk CLK_IFRAO_DPMAIF_MAIN>,
			<&infracfg_ao_clk CLK_IFRAO_RG_MMW_DPMAIF26M_CK>,
			<&pericfg_ao_clk CLK_PERAO_I2C>,
			<&pericfg_ao_clk CLK_PERAO_DMA_B>,
			<&pericfg_ao_clk CLK_PERAO_AUDIO_SLV>,
			<&pericfg_ao_clk CLK_PERAO_AUDIO_MST>,
			<&pericfg_ao_clk CLK_PERAO_AUDIO_INTBUS>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC0_26M>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC0_P1_PCLK_250M>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC0_GFMUX_TL>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC0_FMEM>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC0_HCLK>,
			<&pextpcfg_ao_clk CLK_PEXT_PHY0_REF>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC1_26M>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC1_P1_PCLK_250M>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC1_GFMUX_TL>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC1_FMEM>,
			<&pextpcfg_ao_clk CLK_PEXT_MAC1_HCLK>,
			<&pextpcfg_ao_clk CLK_PEXT_PHY1_REF>,
			<&vlp_cksys_clk CLK_VLP_CK_CAMTG_VLP_SEL>,
			<&ccu_main_clk CLK_CCUSYS_DPE>,
			<&ssr_top_clk CLK_SSR_TOP_RG_RW_SSR_RNG>,
			<&ssr_top_clk CLK_SSR_TOP_RQ_RW_SSR_DMA>,
			<&ssr_top_clk CLK_SSR_TOP_RQ_RW_SSR_KDF>,
			<&ssr_top_clk CLK_SSR_TOP_RQ_RW_SSR_PKA>;
	};

	bring-up-pd-ufs0_phy_shutdown {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_UFS0_PHY_SHUTDOWN>;
	};

	bring-up-pd-pextp_mac0_shutdown {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_PEXTP_MAC0_SHUTDOWN>;
	};

	bring-up-pd-pextp_mac1_shutdown {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_PEXTP_MAC1_SHUTDOWN>;
	};

	bring-up-pd-pextp_phy0 {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_PEXTP_PHY0>;
	};

	bring-up-pd-pextp_phy1 {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_PEXTP_PHY1>;
	};

	bring-up-pd-audio {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_AUDIO>;
	};

	bring-up-pd-cam_vcore {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_CAM_VCORE>;
	};

	bring-up-pd-csi_rx {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_CSI_RX>;
	};

	bring-up-pd-ssrsys {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_SSR>;
	};

	bring-up-pd-dxcc_shutdown {
		compatible = "mediatek,scpsys-bring-up";
		power-domains = <&scpsys MT6985_POWER_DOMAIN_DXCC_SHUTDOWN>;
	};

};
