source "drivers/misc/mediatek/sensor_bio/accelerometer/Kconfig"
source "drivers/misc/mediatek/sensor_bio/alsps/Kconfig"
source "drivers/misc/mediatek/sensor_bio/gyroscope/Kconfig"
source "drivers/misc/mediatek/sensor_bio/magnetometer/Kconfig"
source "drivers/misc/mediatek/sensor_bio/hwmon/Kconfig"
source "drivers/misc/mediatek/sensor_bio/barometer/Kconfig"
source "drivers/misc/mediatek/sensor_bio/humidity/Kconfig"
source "drivers/misc/mediatek/sensor_bio/activity_sensor/Kconfig"
source "drivers/misc/mediatek/sensor_bio/pedometer/Kconfig"
source "drivers/misc/mediatek/sensor_bio/sensorfusion/Kconfig"
source "drivers/misc/mediatek/sensor_bio/step_counter/Kconfig"
source "drivers/misc/mediatek/sensor_bio/tilt_detector_sensor/Kconfig"
source "drivers/misc/mediatek/sensor_bio/gesture/Kconfig"
source "drivers/misc/mediatek/sensor_bio/sensorHub/Kconfig"
