config MTK_CCCI_EXT # CCCI_DRIVER
	bool "Dual CCCI Driver"
	depends on MTK_CCCI_DEVICES
	default n
	help
	  This option enables dual ccci device driver support.
	  If yes, dual_ccci driver is enabled,
	  If no, dual_ccci driver is disabled.
	  The option default is disabled.

config MTK_CCCI_DRIVER # CCCI_DRIVER
	tristate "CCCI Driver"
	depends on MTK_CCCI_DEVICES
	default n
	---help---
	  This option enables ccci device driver support
	  If yes, ccci driver is enabled,
	  If no, ccci driver is disabled.
	  The option default is disabled. and phase out now.

