config MTK2712_FREQ_HOPPING
	bool "MT2712 FREQHOPPING driver"
	depends on MTK_FREQ_HOPPING
	help
	  Freqhopping can help you control some PLLs by freqhopping HW.

config MTK8163_FREQ_HOPPING
	bool "MT8163 FREQHOPPING driver"
	depends on MTK_FREQ_HOPPING
	help
	  Freqhopping can help you control some PLLs by freqhopping HW.
	  Can do SSC
	  SSC is Spread Spectrum Clock
	  This config is only for mt8163 FHCTL

config MTK8173_FREQ_HOPPING
	bool "MT8173 FREQHOPPING driver"
	depends on MTK_FREQ_HOPPING
	help
	  Freqhopping can help you control some PLLs by freqhopping HW.

config MTK6758_FREQ_HOPPING
	bool "MT6758 FREQHOPPING driver"
	depends on MTK_FREQ_HOPPING
	help
	  Freqhopping can help you control some PLLs by freqhopping HW.

config MTK6765_FREQ_HOPPING
	bool "MT6765 FREQHOPPING driver"
	depends on MTK_FREQ_HOPPING
	help
	  Freqhopping can help you control some PLLs by freqhopping HW.
